{:paths ["src"]
 :name "youtube-to-media"
 :description "A Home Assistant app to download YouTube videos to media."
 :version "0.1.0"
 :license "Apache-2.0"
 :deps {cheshire/cheshire {:mvn/version "5.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}}}