.calva/repl.calva-repl
.clj-kondo/.cache/v1/lock
youtube-to-media/.calva/repl.calva-repl
.lsp/.cache/db.transit.json
.clj-kondo/
youtube-to-media/.nrepl-port
youtube-to-media/downloads/
share/youtube-to-media/.calva/repl.calva-repl
.gitignore
share/youtube-to-media/.nrepl-port
